<article>
  <header>
    <a href="/recipes/<%= id %>" data-tooltip="Click to find out more about this recipe">
      <i class="fa-solid fa-lemon"></i> <%= title %>
    </a>
  </header>
  <a href="/recipes/<%= id %>">
    <img src="<%= image %>" width="300" alt="image of recipe <% title %>" />
  </a>
  <footer>
    <i class="fa-solid fa-flask"></i> <strong>Prep Time:</strong> <%= prep_time %> min, 
    <i class="fa-solid fa-blender"></i> <strong>Cook Time:</strong> <%= cook_time %> min
  </footer>
</article>
